@inherits LayoutComponentBase

<div class="page" style="background:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(254,249,136,1) 100%); background-size:cover">    
    <main> 

        <div class="container-fluid">
            @Body
        </div>
    </main>
</div>
